@page
@model IndexMo del
@{
    ViewData["Title"] = "Home page";
}

<h1 class="h1"> Welcome, Lets Plan</h1>

<a href="/Searchresults">Search Here</a>

<h2 class="h2">How we help</h2>

<table class="table table-striped">
    <tbody>
        <tr>
            <td>
                1. Planning Ahead
            </td>
            <td>
                Give Future Climate Prediction using Climate Data
            </td>
        </tr>
    
    
        <tr>
            <td>
                2. World Wide
            </td>
            <td>
                Search from any location
           
            </td>
        </tr>
   
    <tbody/>

</table>


<h2 class="h2">Popular Destinations</h2>
<ul class="list-group">
    <li class="list-group-item">Flordia</li>
    <li class="list-group-item">New York</li>
    <li class="list-group-item">Texas</li>
</ul>



